<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

#HEARD()
<script type="text/javascript">
jQuery.validator.addMethod("isExcel", function(value, element) {       
    return this.optional(element) || /^.*\.xls$/.test(value);       
 }, "只能上传Excel 97-2003文件");
	
$(function(){
	$("#fileForm").validate({
		event: "blur",
		rules: {
			"cardFile":{
				required:true, 
				isExcel:true
			}
		},
		messages:{
			"cardFile":{
				required:"请选择excel 97-2003文件",
				isExcel:"请选择excel 97-2003文件"
			}
		},
		errorPlacement:function(error, element){
			error.css({"color":"#FF0000"});
			element.after(error);
		}
	});
	
	$("#fileBtn").click(function(){
		$("#fileForm").submit();
	});
	
	$("#cardBtn").click(function(){
		if(confirm("确定要修列表中的所有卡信息？")){
			$("#cardForm").submit();
		}
	});
	
});

</script>

<body leftMargin="0" topMargin="0" MARGINWIDTH="0" MARGINHEIGHT="0">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="5"></td>
			<td>
				#MENUADDRESS("卡池管理")	
    	
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td colspan="8" background="images/table_top_bg.jpg">        	
								#TABLETILE("修改卡信息")	        		       
							</td>
						</tr>
	  
						<tr>
							<td colspan="8" height="40" align="center" class="tdw1">
								<form id="fileForm" action="cardCheckForUpdate.do" method="post" enctype="multipart/form-data">
									Excel文件：<input type="file" name="cardFile" size="60"/>&nbsp;&nbsp;
									<input type="button" id="fileBtn" value="上传并验证" />
								</form>
							</td>
	  					</tr>
						
						#if($!{cumList})
						<tr>
							<td colspan="8" align="center">
								<form id="cardForm" action="cardUpdate.do" method="post" enctype="multipart/form-data">
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
                                            <td height="30" align="center" class="tdw1">
												<font color="red">总共上传了${cumList.size()}张卡。#if($!{pass}) 卡信息有误，请修改后重新上传。#end</font>
											</td>
										</tr>
										
										#if(!$!{pass})
										<tr>
											<td height="30" align="center" class="tdw1">
												<input type="button" id="cardBtn" value="提 交" />
											</td>
										</tr>
										#end
                                    </table>
								</form>
							</td>
	  					</tr>
						#end
						
						<tr>
							<td height="30" align="center" class="tdy1">序号</td>
							<td align="center" class="tdy2">卡号</td>	
							<td align="center" class="tdy2">延长时长</td>
							<td align="center" class="tdy2">重置时长</td>
							<td align="center" class="tdy2">开始日期</td>	
							<td align="center" class="tdy2">截止日期</td>
							<td align="center" class="tdy2">金额</td>
							<td align="center" class="tdy2">验证信息</td>
                        </tr>
						
						#foreach($cum in $!{cumList})
						<tr>
                            <td height="20" align="center" class="tdw1">$velocityCount</td>
							<td align="center" class="tdw2">$!{cum.no}</td>
							<td align="center" class="tdw2">$!{cum.tvalue}</td>
							<td align="center" class="tdw2">$!{cum.revalue}</td>
							<td align="center" class="tdw2">$!{cum.vbtime}</td>
							<td align="center" class="tdw2">$!{cum.vetime}</td>
							<td align="center" class="tdw2">$!{cum.mvalue}</td>
							<td align="center" class="tdw2">#if($!{cum.msg}) <font color="red">$!{cum.msg}</font> #else 验证通过 #end</td>
                        </tr>
						#end
                    </table>
					
				</td>
			</tr>
		</table>

		#FOOT()
	</body>
</html>
