<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	
#HEARD()

<script type="text/javascript">
$(function(){
	//导出excel
	$("#btn_export").click(function(){
		var dataStr = "begTime=" + $("#begTime").val() +  "&endTime=" + $("#endTime").val();
		jQuery.ajax({type: "POST",url: "costExport.do", 
			data: dataStr, 
			dataType: "json",
			success:function(json){
				if(json.flag==1){
					alert("导出excel成功！");
				}else{
					alert("导出excel失败！");
				}
			}
		});
	});
	
});
</script>

<body leftMargin="0" topMargin="0" MARGINWIDTH="0" MARGINHEIGHT="0">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="5"></td>
			<td>
				#MENUADDRESS("卡片库存管理")	
    	
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td colspan="5" background="images/table_top_bg.jpg">        	
							#TABLETILE("成本月度报表")	        		       
						</td>
					</tr>
					
					<tr height="30">
						<td colspan="5" align="center" class="tdw1">
						<form id="form1" action="costList.do" method="post" enctype="multipart/form-data">
							日期：
							<input type="text" id="begTime" name="begTime" value="$!{begTime}" class="Wdate" onFocus="WdatePicker({skin:'whyGreen', dateFmt:'yyyyMM'})" />-
							<input type="text" id="endTime" name="endTime" value="$!{endTime}" class="Wdate" onFocus="WdatePicker({skin:'whyGreen', dateFmt:'yyyyMM'})" />
							<input type="submit" id="btn_search" value="查询" />&nbsp;&nbsp;
							<input type="button" id="btn_export" value="导出" />
						</form>
						</td>
					</tr>
						
					<tr height="30">
						<td align="center" class="tdy1">月份</td>	
						<td align="center" class="tdy2">当月入库金额（电信）</td>
						<td align="center" class="tdy2">当月入库金额（移动）</td>
						<td align="center" class="tdy2">当月使用成本（电信）</td>
						<td align="center" class="tdy2">当月使用成本（移动）</td>
					</tr>
						
    			</table>
			</td>
		</tr>
	</table>

	#FOOT()
	</body>
</html>

