<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

#HEARD()
<script type="text/javascript">
jQuery.validator.addMethod("isTxt", function(value, element) {       
    return this.optional(element) || /^.*\.txt$/.test(value);       
 }, "请上传TXT文本文件");
	
$(function(){
	$("#fileForm").validate({
		event: "blur",
		rules: {
			"cardFile":{
				required:true, 
				isTxt:true
			}
		},
		messages:{
			"cardFile":{
				required:"请选择TXT文本文件",
				isTxt:"请选择TXT文本文件"
			}
		},
		errorPlacement:function(error, element){
			error.css({"color":"#FF0000"});
			element.after(error);
		}
	});
	
	$("#fileBtn").click(function(){
		if(confirm("确定要删除文件中的所有卡？")){
			$("#fileForm").submit();
		}
	});
	
});

</script>

<body leftMargin="0" topMargin="0" MARGINWIDTH="0" MARGINHEIGHT="0">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="5"></td>
			<td>
				#MENUADDRESS("卡池管理")	
    	
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td colspan="5" background="images/table_top_bg.jpg">        	
								#TABLETILE("删除卡")	        		       
							</td>
						</tr>
	  
						<tr>
							<td colspan="5" height="40" align="center" class="tdw1">
								<form id="fileForm" action="deleteCard.do" method="post" enctype="multipart/form-data">
									TXT文件：<input type="file" name="cardFile" size="60"/>&nbsp;&nbsp;
									<input type="button" id="fileBtn" value="删卡" />
								</form>
							</td>
	  					</tr>
						#if($!{pass})
							<tr>
								<td colspan="5" height="40" align="center">
									#if($!{pass}==1)
									<font color="red">文件内容为空</font>
									#else
									<font color="red">以下为没有成功删除的卡，请重新上传删除</font>
									#end
								</td>
	  						</tr>
						#end
						<tr>
							<td height="30" align="center" class="tdy1">序号</td>
							<td align="center" class="tdy2">卡号</td>	
                        </tr>
						#if($!modelList && $!{modelList.size()}>0){
						#foreach($model in $!{modelList})
						<tr>
                            <td height="20" align="center" class="tdw1">$velocityCount</td>
							<td align="center" class="tdw2">$!{model}</td>
                        </tr>
						#end
						#end
                    </table>
					
				</td>
			</tr>
		</table>

		#FOOT()
	</body>
</html>
