<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bw30.open.common.dao.mapper.CardCacheInfoMapper">
	<sql id="table">
		card_cache_info
	</sql>
	<sql id="insertColumn">
		channel,opid,type,prvid,status
	</sql>
	<sql id="insertValues">
		#{channel},#{opid},#{type},#{prvid},#{status}
	</sql>
	<sql id="whereParam">
		<where>
			<if test="paramMap.channel!=null">
				and channel=#{paramMap.channel}
			</if>
			<if test="paramMap.opid!=null">
				and opid=#{paramMap.opid}
			</if>
			<if test="paramMap.type!=null">
				and type=#{paramMap.type}
			</if>
			<if test="paramMap.prvid!=null">
				and prvid=#{paramMap.prvid}
			</if>
			<if test="paramMap.status!=null">
				and status=#{paramMap.status}
			</if>
		</where>
	</sql>
	<insert id="insert">
		insert into
		<include refid="table" />
		(
		<include refid="insertColumn" />
		)
		values(
		<include refid="insertValues" />
		) 
	</insert>
	<select id="findByParam" resultType="cardCacheInfo">
		select * from
		<include refid="table"/>
		<include refid="whereParam"/>
	</select>
</mapper>