<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

#HEARD()

<body leftMargin="0" topMargin="0" align="center" MARGINWIDTH="0" MARGINHEIGHT="0">
	<h1>统计电信时长，生成账单</h1>
	<form action="toBill360.do" method="post">
		日期：<input type="text" name="day" value="$!{day}" class="Wdate" onFocus="WdatePicker({skin:'whyGreen', dateFmt:'yyyy-MM-dd'})" />
		<input type="submit" value="确定" />
	</form>
</body>
</html>
