<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName" default-lazy-init="false"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
    	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    	
	<bean id="baseDataService" class="com.bw30.open.wftAdm.service.BaseDataService" />
	<bean id="cardService" class="com.bw30.open.wftAdm.service.CardService" />
	<bean id="wftConnSessionService" class="com.bw30.open.wftAdm.service.WftConnSessionService" />
	<bean id="cardApiService" class="com.bw30.open.wftAdm.service.CardApiService" />
	
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.bw30.com" />
		<property name="defaultEncoding" value="UTF-8" />
		<property name="username" value="wifitong@bw30.com" />
		<property name="password" value="wifitong!@#" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.timeout">25000</prop>
			</props>
		</property>
	</bean>
	<bean id="mailService" class="com.bw30.open.wftAdm.util.MailService">
		<property name="sender" ref="mailSender" />
		<property name="from" value="wifitong@bw30.com"></property>
	</bean>
	
</beans>