<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	
#HEARD()
<body leftMargin="0" topMargin="0" MARGINWIDTH="0" MARGINHEIGHT="0">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="5"></td>
			<td>
				#MENUADDRESS("各省份运营商成功率")	
			
				<form id="pageform" action="province.do" method="post" enctype="multipart/form-data">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td colspan="31" background="images/table_top_bg.jpg">        	
								#TABLETILE("各省份运营商成功率")	        		       
							</td>
						</tr>
						<tr>
							<td height="30" colspan="31" align="left" class="tdw1">
								日期：
								<input id="start" name="start" type="text" value="$!{start}" class="Wdate" onFocus="WdatePicker({skin:'whyGreen', dateFmt:'yyyy-MM-dd '})" />&nbsp;&nbsp
								至&nbsp;&nbsp 
								<input id="endTime" name="end" type="text" value="$!{end}" class="Wdate" onFocus="WdatePicker({skin:'whyGreen', dateFmt:'yyyy-MM-dd '})"/>
								&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp
								
								运营商：
								<select id="channel" name="ssid" >
									#if($!{operatorList} && $!{operatorList.size()}>0)
    									#foreach($!{operator} in $!{operatorList})
    										<option value="$!{operator.ssid}" #if(${ssid}==${operator.ssid}) selected="selected" #end>
												$!{operator.name}
											</option>
    									#end  
									#end
								</select> 
								&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp
								<input type="submit" value="查询" />
							</td>
						</tr>
						
						<tr>
							<td height="30"  align="center" class="tdy1">省份</td>	
							<td align="center" class="tdy2">总次数</td>
							<td align="center" class="tdy2">成功次数</td>
							<td align="center" class="tdy2">次数成功率</td>
							<td align="center" class="tdy2">总人数</td>
							<td align="center" class="tdy2">成功人数</td>	
							<td align="center" class="tdy2">人数成功率</td>
						</tr>
						#if($!wftTotalStatList && $!{wftTotalStatList.size()}>0)
						#foreach($wftTotalStat in ${wftTotalStatList})
						<tr>
							<td height="40"  align="center" class="tdw1">$!{wftTotalStat.prvname}</td>
							#set($total=$!{wftTotalStat.connfail}+$!{wftTotalStat.connsuc})
							<td align="center" 	 class="tdw2">$!{total}</td>
							<td align="center"   class="tdw2">$!{wftTotalStat.connsuc}</td>
							<td align="center"   class="tdw2">$!{wftTotalStat.connlv}%</td>
							#set($total=$!{wftTotalStat.persuc}+$!{wftTotalStat.perfail})
							<td align="center" 	 class="tdw2">$!{total}</td>
							<td align="center" 	 class="tdw2">$!{wftTotalStat.persuc}</td>
							<td align="center" 	 class="tdw2">$!{wftTotalStat.perlv}%</td>
						</tr>
						#end
						
						#else
                            <tr>
								<td colspan="31" align="center" class="tdw1" >无数据
                                </td>
							</tr>
						#end
	  
    				</table>
    			</form> 
			</td>
			<td width="5"></td>
		</tr>
	</table>

	#FOOT()
	</body>
</html>    
